
@{
    ViewBag.Title = "Index";
}


<section class="section-pagetop bg-light">
    <div class="container">
        <h2 class="title-page">Nội dung trang tuyệt vời</h2>
    </div> <!-- container .// -->
</section>


<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content bg-white padding-y">
    <div class="container">

        <h5 class="card-title">Tên phần đầu tiên</h5>
        <p>
            Điện thoại di động thông minh đã trở thành công cụ hữu ích và cần thiết
            cho tất cả mọi người. Hiện nay có rất đa dạng các dòng smartphone khác
            nhau như Iphone, Samsung, Oppo, Xiaome...liên tục cho ra mắt các phiên 
            bản nâng cấp để theo kịp xu hướng công nghệ. Vậy nên thị trường kinh doanh
            điện thoại với sự cạnh tranh ngày càng trở nên khốc liệt. Nếu bạn đã có một 
            cửa hàng điện thoại, vậy tại sao không sở hữu một website bán điện thoại với 
            mẫu giao diện ấn tượng để có thể tiệm cận được khách hàng tiềm năng của bạn một cách tốt nhất!
        </p>
        <p>
            Menu sản phẩm đa tầng, linh hoạt giúp bạn trình bày nhiều dòng điện thoại, 
            máy tính bảng khác nhau ngay trên website. Các sản phẩm mới nhất, sẽ được
            cập nhật ngay ở trang chủ, hoặc bạn cũng có thể tùy chọn chỉnh sửa cho sản
            phẩm được xem nhiều nhất ở trang chủ.
        </p>



        <div class="row mt-5">
            <div class="col-md-4">

                <p>
                    iao diện trang web bán điện thoại đẹp mắt, chuyên nghiệp, 
                    với gam màu ấn tượng mang đến vẻ đẹp nổi bật của website.
                    Bạn có thể tùy chọn tông màu theo giao diện demo hoặc phối
                    màu theo ý tưởng của riêng mình.
                </p>

                </article>
            </div> <!-- col.// -->
            <div class="col-md-4">
                <p>
                    Tính năng hỗ trợ trực tuyến giúp bạn kịp thời tư vấn cho khách hàng khi truy cập website.
                </p>
            </div> <!-- col.// -->
            <div class="col-md-4">
                <p>
                    Cung cấp cho khách hàng những thông tin cần thiết về các sản phẩm 
                    dịch vụ được chia theo danh mục mỗi danh mục có nhiều sản phẩm bên 
                    trong trình bày dưới dạng list sản phẩm, dịch vụ. Các thành phần này
                    có thể bao gồm hình ảnh, mô tả và giá thành và không giới hạn danh mục sản phẩm.
                </p>
            </div> <!-- col.// -->
        </div> <!-- row.// -->

        <br><br>

            <a href="javascript: history.back()" class="btn btn-light"> &laquo Quay lại</a>



    </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
