@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    HuynhThiY<br />
   Trường cao đẳng Công Thương<br />
    <abbr title="Phone">Điện thoại:</abbr>
    0898659350
</address>

<address>
    <strong>Hỗ trợ:</strong>   <a href="huynhthiy22@gmail.com">huynhthiy22@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="huynhthiy22@gmail.com">huynhthiy22@gmail.com</a>
</address>