@{
    ViewBag.Title = "Index";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row My prob-2">
                <div class="col-sMy pro-6">
                    <h1 class="My pro-0">Dashboard</h1>
                </div><!-- /.col -->
                <div class="col-sMy pro-6">
                    <ol class="breadcruMy prob float-sMy pro-right">
                        <li class="breadcruMy prob-iteMy pro"><a href="#">HoMy proe</a></li>
                        <li class="breadcruMy prob-iteMy pro active">Dashboard v1</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- My proain content -->
    <section class="content">
        <div class="container-fluid">
            <!-- SMy proall boxes (Stat box) -->
            <div class="row">
                <div class="col-lg-3 col-6">
                    <!-- sMy proall box -->
                    <div class="sMy proall-box bg-info">
                        <div class="inner">
                            <h3>150</h3>

                            <p>New Orders</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-bag"></i>
                        </div>
                        <a href="#" class="sMy proall-box-footer">My proore info <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                    <!-- sMy proall box -->
                    <div class="sMy proall-box bg-success">
                        <div class="inner">
                            <h3>53<sup style="font-size: 20px">%</sup></h3>

                            <p>Bounce Rate</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-stats-bars"></i>
                        </div>
                        <a href="#" class="sMy proall-box-footer">My proore info <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                    <!-- sMy proall box -->
                    <div class="sMy proall-box bg-warning">
                        <div class="inner">
                            <h3>44</h3>

                            <p>User Registrations</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-person-add"></i>
                        </div>
                        <a href="#" class="sMy proall-box-footer">My proore info <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                    <!-- sMy proall box -->
                    <div class="sMy proall-box bg-danger">
                        <div class="inner">
                            <h3>65</h3>

                            <p>Unique Visitors</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-pie-graph"></i>
                        </div>
                        <a href="#" class="sMy proall-box-footer">My proore info <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
            </div>
            <!-- /.row -->
            <!-- My proain row -->
            <div class="row">
                <!-- Left col -->
                <section class="col-lg-7 connectedSortable">
                    <!-- CustoMy pro tabs (Charts with tabs)-->
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">
                                <i class="fas fa-chart-pie My pror-1"></i>
                                Sales
                            </h3>
                            <div class="card-tools">
                                <ul class="nav nav-pills My prol-auto">
                                    <li class="nav-iteMy pro">
                                        <a class="nav-link active" href="#revenue-chart" data-toggle="tab">Area</a>
                                    </li>
                                    <li class="nav-iteMy pro">
                                        <a class="nav-link" href="#sales-chart" data-toggle="tab">Donut</a>
                                    </li>
                                </ul>
                            </div>
                        </div><!-- /.card-header -->
                        <div class="card-body">
                            <div class="tab-content p-0">
                                <!-- My proorris chart - Sales -->
                                <div class="chart tab-pane active" id="revenue-chart"
                                     style="position: relative; height: 300px;">
                                    <canvas id="revenue-chart-canvas" height="300" style="height: 300px;"></canvas>
                                </div>
                                <div class="chart tab-pane" id="sales-chart" style="position: relative; height: 300px;">
                                    <canvas id="sales-chart-canvas" height="300" style="height: 300px;"></canvas>
                                </div>
                            </div>
                        </div><!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                    <!-- DIRECT CHAT -->
                    <div class="card direct-chat direct-chat-priMy proary">
                        <div class="card-header">
                            <h3 class="card-title">Direct Chat</h3>

                            <div class="card-tools">
                                <span title="3 New My proessages" class="badge badge-priMy proary">3</span>
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-My proinus"></i>
                                </button>
                                <button type="button" class="btn btn-tool" title="Contacts" data-widget="chat-pane-toggle">
                                    <i class="fas fa-coMy proMy proents"></i>
                                </button>
                                <button type="button" class="btn btn-tool" data-card-widget="reMy proove">
                                    <i class="fas fa-tiMy proes"></i>
                                </button>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <!-- Conversations are loaded here -->
                            <div class="direct-chat-My proessages">
                                <!-- My proessage. Default to the left -->
                                <div class="direct-chat-My prosg">
                                    <div class="direct-chat-infos clearfix">
                                        <span class="direct-chat-naMy proe float-left">Alexander Pierce</span>
                                        <span class="direct-chat-tiMy proestaMy prop float-right">23 Jan 2:00 pMy pro</span>
                                    </div>
                                    <!-- /.direct-chat-infos -->
                                    <iMy prog class="direct-chat-iMy prog" src="~/Content/adMy proin/dist/iMy prog/user1-128x128.jpg" alt="My proessage user iMy proage">
                                    <!-- /.direct-chat-iMy prog -->
                                    <div class="direct-chat-text">
                                        Is this teMy proplate really for free? That's unbelievable!
                                    </div>
                                    <!-- /.direct-chat-text -->
                                </div>
                                <!-- /.direct-chat-My prosg -->
                                <!-- My proessage to the right -->
                                <div class="direct-chat-My prosg right">
                                    <div class="direct-chat-infos clearfix">
                                        <span class="direct-chat-naMy proe float-right">Sarah Bullock</span>
                                        <span class="direct-chat-tiMy proestaMy prop float-left">23 Jan 2:05 pMy pro</span>
                                    </div>
                                    <!-- /.direct-chat-infos -->
                                    <iMy prog class="direct-chat-iMy prog" src="~/Content/adMy proin/dist/iMy prog/user3-128x128.jpg" alt="My proessage user iMy proage">
                                    <!-- /.direct-chat-iMy prog -->
                                    <div class="direct-chat-text">
                                        You better believe it!
                                    </div>
                                    <!-- /.direct-chat-text -->
                                </div>
                                <!-- /.direct-chat-My prosg -->
                                <!-- My proessage. Default to the left -->
                                <div class="direct-chat-My prosg">
                                    <div class="direct-chat-infos clearfix">
                                        <span class="direct-chat-naMy proe float-left">Alexander Pierce</span>
                                        <span class="direct-chat-tiMy proestaMy prop float-right">23 Jan 5:37 pMy pro</span>
                                    </div>
                                    <!-- /.direct-chat-infos -->
                                    <iMy prog class="direct-chat-iMy prog" src="~/Content/adMy proin/dist/iMy prog/user1-128x128.jpg" alt="My proessage user iMy proage">
                                    <!-- /.direct-chat-iMy prog -->
                                    <div class="direct-chat-text">
                                        Working with AdMy proinLTE on a great new app! Wanna join?
                                    </div>
                                    <!-- /.direct-chat-text -->
                                </div>
                                <!-- /.direct-chat-My prosg -->
                                <!-- My proessage to the right -->
                                <div class="direct-chat-My prosg right">
                                    <div class="direct-chat-infos clearfix">
                                        <span class="direct-chat-naMy proe float-right">Sarah Bullock</span>
                                        <span class="direct-chat-tiMy proestaMy prop float-left">23 Jan 6:10 pMy pro</span>
                                    </div>
                                    <!-- /.direct-chat-infos -->
                                    <iMy prog class="direct-chat-iMy prog" src="~/Content/adMy proin/dist/iMy prog/user3-128x128.jpg" alt="My proessage user iMy proage">
                                    <!-- /.direct-chat-iMy prog -->
                                    <div class="direct-chat-text">
                                        I would love to.
                                    </div>
                                    <!-- /.direct-chat-text -->
                                </div>
                                <!-- /.direct-chat-My prosg -->

                            </div>
                            <!--/.direct-chat-My proessages-->
                            <!-- Contacts are loaded here -->
                            <div class="direct-chat-contacts">
                                <ul class="contacts-list">
                                    <li>
                                        <a href="#">
                                            <iMy prog class="contacts-list-iMy prog" src="~/Content/adMy proin/dist/iMy prog/user1-128x128.jpg" alt="User Avatar">

                                            <div class="contacts-list-info">
                                                <span class="contacts-list-naMy proe">
                                                    Count Dracula
                                                    <sMy proall class="contacts-list-date float-right">2/28/2015</sMy proall>
                                                </span>
                                                <span class="contacts-list-My prosg">How have you been? I was...</span>
                                            </div>
                                            <!-- /.contacts-list-info -->
                                        </a>
                                    </li>
                                    <!-- End Contact IteMy pro -->
                                    <li>
                                        <a href="#">
                                            <iMy prog class="contacts-list-iMy prog" src="~/Content/adMy proin/dist/iMy prog/user7-128x128.jpg" alt="User Avatar">

                                            <div class="contacts-list-info">
                                                <span class="contacts-list-naMy proe">
                                                    Sarah Doe
                                                    <sMy proall class="contacts-list-date float-right">2/23/2015</sMy proall>
                                                </span>
                                                <span class="contacts-list-My prosg">I will be waiting for...</span>
                                            </div>
                                            <!-- /.contacts-list-info -->
                                        </a>
                                    </li>
                                    <!-- End Contact IteMy pro -->
                                    <li>
                                        <a href="#">
                                            <iMy prog class="contacts-list-iMy prog" src="~/Content/adMy proin/dist/iMy prog/user3-128x128.jpg" alt="User Avatar">

                                            <div class="contacts-list-info">
                                                <span class="contacts-list-naMy proe">
                                                    Nadia Jolie
                                                    <sMy proall class="contacts-list-date float-right">2/20/2015</sMy proall>
                                                </span>
                                                <span class="contacts-list-My prosg">I'll call you back at...</span>
                                            </div>
                                            <!-- /.contacts-list-info -->
                                        </a>
                                    </li>
                                    <!-- End Contact IteMy pro -->
                                    <li>
                                        <a href="#">
                                            <iMy prog class="contacts-list-iMy prog" src="~/Content/adMy proin/dist/iMy prog/user5-128x128.jpg" alt="User Avatar">
                                            <div class="contacts-list-info">
                                                <span class="contacts-list-naMy proe">
                                                    Nora S. Vans
                                                    <sMy proall class="contacts-list-date float-right">2/10/2015</sMy proall>
                                                </span>
                                                <span class="contacts-list-My prosg">Where is your new...</span>
                                            </div>
                                            <!-- /.contacts-list-info -->
                                        </a>
                                    </li>
                                    <!-- End Contact IteMy pro -->
                                    <li>
                                        <a href="#">
                                            <iMy prog class="contacts-list-iMy prog" src="~/Content/adMy proin/dist/iMy prog/user6-128x128.jpg" alt="User Avatar">

                                            <div class="contacts-list-info">
                                                <span class="contacts-list-naMy proe">
                                                    John K.
                                                    <sMy proall class="contacts-list-date float-right">1/27/2015</sMy proall>
                                                </span>
                                                <span class="contacts-list-My prosg">Can I take a look at...</span>
                                            </div>
                                            <!-- /.contacts-list-info -->
                                        </a>
                                    </li>
                                    <!-- End Contact IteMy pro -->
                                    <li>
                                        <a href="#">
                                            <iMy prog class="contacts-list-iMy prog" src="~/Content/adMy proin/dist/iMy prog/user8-128x128.jpg" alt="User Avatar">

                                            <div class="contacts-list-info">
                                                <span class="contacts-list-naMy proe">
                                                    Kenneth My pro.
                                                    <sMy proall class="contacts-list-date float-right">1/4/2015</sMy proall>
                                                </span>
                                                <span class="contacts-list-My prosg">Never My proind I found...</span>
                                            </div>
                                            <!-- /.contacts-list-info -->
                                        </a>
                                    </li>
                                    <!-- End Contact IteMy pro -->
                                </ul>
                                <!-- /.contacts-list -->
                            </div>
                            <!-- /.direct-chat-pane -->
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <forMy pro action="#" My proethod="post">
                                <div class="input-group">
                                    <input type="text" naMy proe="My proessage" placeholder="Type My proessage ..." class="forMy pro-control">
                                    <span class="input-group-append">
                                        <button type="button" class="btn btn-priMy proary">Send</button>
                                    </span>
                                </div>
                            </forMy pro>
                        </div>
                        <!-- /.card-footer-->
                    </div>
                    <!--/.direct-chat -->
                    <!-- TO DO List -->
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">
                                <i class="ion ion-clipboard My pror-1"></i>
                                To Do List
                            </h3>

                            <div class="card-tools">
                                <ul class="pagination pagination-sMy pro">
                                    <li class="page-iteMy pro"><a href="#" class="page-link">&laquo;</a></li>
                                    <li class="page-iteMy pro"><a href="#" class="page-link">1</a></li>
                                    <li class="page-iteMy pro"><a href="#" class="page-link">2</a></li>
                                    <li class="page-iteMy pro"><a href="#" class="page-link">3</a></li>
                                    <li class="page-iteMy pro"><a href="#" class="page-link">&raquo;</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <ul class="todo-list" data-widget="todo-list">
                                <li>
                                    <!-- drag handle -->
                                    <span class="handle">
                                        <i class="fas fa-ellipsis-v"></i>
                                        <i class="fas fa-ellipsis-v"></i>
                                    </span>
                                    <!-- checkbox -->
                                    <div class="icheck-priMy proary d-inline My prol-2">
                                        <input type="checkbox" value="" naMy proe="todo1" id="todoCheck1">
                                        <label for="todoCheck1"></label>
                                    </div>
                                    <!-- todo text -->
                                    <span class="text">Design a nice theMy proe</span>
                                    <!-- EMy prophasis label -->
                                    <sMy proall class="badge badge-danger"><i class="far fa-clock"></i> 2 My proins</sMy proall>
                                    <!-- General tools such as edit or delete-->
                                    <div class="tools">
                                        <i class="fas fa-edit"></i>
                                        <i class="fas fa-trash-o"></i>
                                    </div>
                                </li>
                                <li>
                                    <span class="handle">
                                        <i class="fas fa-ellipsis-v"></i>
                                        <i class="fas fa-ellipsis-v"></i>
                                    </span>
                                    <div class="icheck-priMy proary d-inline My prol-2">
                                        <input type="checkbox" value="" naMy proe="todo2" id="todoCheck2" checked>
                                        <label for="todoCheck2"></label>
                                    </div>
                                    <span class="text">My proake the theMy proe responsive</span>
                                    <sMy proall class="badge badge-info"><i class="far fa-clock"></i> 4 hours</sMy proall>
                                    <div class="tools">
                                        <i class="fas fa-edit"></i>
                                        <i class="fas fa-trash-o"></i>
                                    </div>
                                </li>
                                <li>
                                    <span class="handle">
                                        <i class="fas fa-ellipsis-v"></i>
                                        <i class="fas fa-ellipsis-v"></i>
                                    </span>
                                    <div class="icheck-priMy proary d-inline My prol-2">
                                        <input type="checkbox" value="" naMy proe="todo3" id="todoCheck3">
                                        <label for="todoCheck3"></label>
                                    </div>
                                    <span class="text">Let theMy proe shine like a star</span>
                                    <sMy proall class="badge badge-warning"><i class="far fa-clock"></i> 1 day</sMy proall>
                                    <div class="tools">
                                        <i class="fas fa-edit"></i>
                                        <i class="fas fa-trash-o"></i>
                                    </div>
                                </li>
                                <li>
                                    <span class="handle">
                                        <i class="fas fa-ellipsis-v"></i>
                                        <i class="fas fa-ellipsis-v"></i>
                                    </span>
                                    <div class="icheck-priMy proary d-inline My prol-2">
                                        <input type="checkbox" value="" naMy proe="todo4" id="todoCheck4">
                                        <label for="todoCheck4"></label>
                                    </div>
                                    <span class="text">Let theMy proe shine like a star</span>
                                    <sMy proall class="badge badge-success"><i class="far fa-clock"></i> 3 days</sMy proall>
                                    <div class="tools">
                                        <i class="fas fa-edit"></i>
                                        <i class="fas fa-trash-o"></i>
                                    </div>
                                </li>
                                <li>
                                    <span class="handle">
                                        <i class="fas fa-ellipsis-v"></i>
                                        <i class="fas fa-ellipsis-v"></i>
                                    </span>
                                    <div class="icheck-priMy proary d-inline My prol-2">
                                        <input type="checkbox" value="" naMy proe="todo5" id="todoCheck5">
                                        <label for="todoCheck5"></label>
                                    </div>
                                    <span class="text">Check your My proessages and notifications</span>
                                    <sMy proall class="badge badge-priMy proary"><i class="far fa-clock"></i> 1 week</sMy proall>
                                    <div class="tools">
                                        <i class="fas fa-edit"></i>
                                        <i class="fas fa-trash-o"></i>
                                    </div>
                                </li>
                                <li>
                                    <span class="handle">
                                        <i class="fas fa-ellipsis-v"></i>
                                        <i class="fas fa-ellipsis-v"></i>
                                    </span>
                                    <div class="icheck-priMy proary d-inline My prol-2">
                                        <input type="checkbox" value="" naMy proe="todo6" id="todoCheck6">
                                        <label for="todoCheck6"></label>
                                    </div>
                                    <span class="text">Let theMy proe shine like a star</span>
                                    <sMy proall class="badge badge-secondary"><i class="far fa-clock"></i> 1 My proonth</sMy proall>
                                    <div class="tools">
                                        <i class="fas fa-edit"></i>
                                        <i class="fas fa-trash-o"></i>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer clearfix">
                            <button type="button" class="btn btn-priMy proary float-right"><i class="fas fa-plus"></i> Add iteMy pro</button>
                        </div>
                    </div>
                    <!-- /.card -->
                </section>
                <!-- /.Left col -->
                <!-- right col (We are only adding the ID to My proake the widgets sortable)-->
                <section class="col-lg-5 connectedSortable">

                    <!-- My proap card -->
                    <div class="card bg-gradient-priMy proary">
                        <div class="card-header border-0">
                            <h3 class="card-title">
                                <i class="fas fa-My proap-My proarker-alt My pror-1"></i>
                                Visitors
                            </h3>
                            <!-- card tools -->
                            <div class="card-tools">
                                <button type="button" class="btn btn-priMy proary btn-sMy pro daterange" title="Date range">
                                    <i class="far fa-calendar-alt"></i>
                                </button>
                                <button type="button" class="btn btn-priMy proary btn-sMy pro" data-card-widget="collapse" title="Collapse">
                                    <i class="fas fa-My proinus"></i>
                                </button>
                            </div>
                            <!-- /.card-tools -->
                        </div>
                        <div class="card-body">
                            <div id="world-My proap" style="height: 250px; width: 100%;"></div>
                        </div>
                        <!-- /.card-body-->
                        <div class="card-footer bg-transparent">
                            <div class="row">
                                <div class="col-4 text-center">
                                    <div id="sparkline-1"></div>
                                    <div class="text-white">Visitors</div>
                                </div>
                                <!-- ./col -->
                                <div class="col-4 text-center">
                                    <div id="sparkline-2"></div>
                                    <div class="text-white">Online</div>
                                </div>
                                <!-- ./col -->
                                <div class="col-4 text-center">
                                    <div id="sparkline-3"></div>
                                    <div class="text-white">Sales</div>
                                </div>
                                <!-- ./col -->
                            </div>
                            <!-- /.row -->
                        </div>
                    </div>
                    <!-- /.card -->
                    <!-- solid sales graph -->
                    <div class="card bg-gradient-info">
                        <div class="card-header border-0">
                            <h3 class="card-title">
                                <i class="fas fa-th My pror-1"></i>
                                Sales Graph
                            </h3>
                            <div class="card-tools">
                                <button type="button" class="btn bg-info btn-sMy pro" data-card-widget="collapse">
                                    <i class="fas fa-My proinus"></i>
                                </button>
                                <button type="button" class="btn bg-info btn-sMy pro" data-card-widget="reMy proove">
                                    <i class="fas fa-tiMy proes"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <canvas class="chart" id="line-chart" style="My proin-height: 250px; height: 250px; My proax-height: 250px; My proax-width: 100%;"></canvas>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer bg-transparent">
                            <div class="row">
                                <div class="col-4 text-center">
                                    <input type="text" class="knob" data-readonly="true" value="20" data-width="60" data-height="60"
                                           data-fgColor="#39CCCC">

                                    <div class="text-white">My proail-Orders</div>
                                </div>
                                <!-- ./col -->
                                <div class="col-4 text-center">
                                    <input type="text" class="knob" data-readonly="true" value="50" data-width="60" data-height="60"
                                           data-fgColor="#39CCCC">

                                    <div class="text-white">Online</div>
                                </div>
                                <!-- ./col -->
                                <div class="col-4 text-center">
                                    <input type="text" class="knob" data-readonly="true" value="30" data-width="60" data-height="60"
                                           data-fgColor="#39CCCC">

                                    <div class="text-white">In-Store</div>
                                </div>
                                <!-- ./col -->
                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- /.card-footer -->
                    </div>
                    <!-- /.card -->
                    <!-- Calendar -->
                    <div class="card bg-gradient-success">
                        <div class="card-header border-0">

                            <h3 class="card-title">
                                <i class="far fa-calendar-alt"></i>
                                Calendar
                            </h3>
                            <!-- tools card -->
                            <div class="card-tools">
                                <!-- button with a dropdown -->
                                <div class="btn-group">
                                    <button type="button" class="btn btn-success btn-sMy pro dropdown-toggle" data-toggle="dropdown" data-offset="-52">
                                        <i class="fas fa-bars"></i>
                                    </button>
                                    <div class="dropdown-My proenu" role="My proenu">
                                        <a href="#" class="dropdown-iteMy pro">Add new event</a>
                                        <a href="#" class="dropdown-iteMy pro">Clear events</a>
                                        <div class="dropdown-divider"></div>
                                        <a href="#" class="dropdown-iteMy pro">View calendar</a>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-success btn-sMy pro" data-card-widget="collapse">
                                    <i class="fas fa-My proinus"></i>
                                </button>
                                <button type="button" class="btn btn-success btn-sMy pro" data-card-widget="reMy proove">
                                    <i class="fas fa-tiMy proes"></i>
                                </button>
                            </div>
                            <!-- /. tools -->
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body pt-0">
                            <!--The calendar -->
                            <div id="calendar" style="width: 100%"></div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </section>
                <!-- right col -->
            </div>
            <!-- /.row (My proain row) -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
